.calls {
    width: 100%;
}

.callContainer {
    padding-top: 19px;
    margin-left: -20px;
}

.archiveContainer {
    margin-top: -20px;
    margin-left: -20px;
}

.dropdown-menu {
    width: 350px;
    text-align: center;
    margin: -20px;
}

.dropdown-item:active {
    background-color: green !important;
}

.inbCall {
    overflow: scroll;
}

.card {
    width: 352px !important;
    margin-bottom: 3px;
    padding: 0 5px 0 5px;
    border-radius: 1.25rem;
    flex-direction: inherit;
    max-height: 67px !important;
}

.carCall {
    transition: all 0.5s !important;
}

.carCall:hover {
    color: white !important;
    background-color: darkgrey !important;
    backdrop-filter: opacity(20%);
    transition: all 0.5s !important;
}

.detCall {
    width: 350px !important;
    margin-left: -10px;
    flex-direction: column;
}

.css-1ujykiq-MuiButtonBase-root-MuiTab-root {
    min-width: 0px !important;
    font-size: 0.9rem;
    line-height: 1;
}

.MuiBox-root {
    margin: -20px !important;
    max-width: 351px !important;
}

.MuiTabs-indicator {
    background-color: #6da375 !important;
}

.Mui-selected {
    color: #6da375 !important;
}

.dateContainer {
    text-align: center;
    padding: 10px 0;
    font-weight: 300;
    font-size: medium;
    margin-right: -20px;
}

.callIndividual {
    height: 100%;
    padding: 15px 0 0 5px;
    text-align: center;
}

.card-body {
    margin-top: -5px;
}

.cardBody {
    width: 250px;
    max-width: 250px;
    padding-right: 0px !important;
    display: flex;
}

.numberName {
    width: 80%;
}

.duration {
    font-size: smaller !important;
    text-align: center;
    margin-right: -5px;
    padding-top: 14px;
    width: 20%;
    font-style: italic;
}

.cardTitle {
    padding: 5px 0;
    border-top: 0.5px solid darkgrey;
    width: auto;
    color: #5c9865;
    border-bottom: 0.5px solid darkgrey;
}

.detCall {
    border: 0px !important;
}

.MuiAvatar-root {
    text-align: center !important;
    margin-left: 117px;
    height: 99px !important;
    width: 99px !important;
    font-size: 3rem !important;
}

.fullName {
    padding-top: 9px;
    font-size: x-large;
    color: #666666;
}

.callButtons {
    width: 33.4% !important;
    min-width: 33.4% !important;
    line-height: 17px !important;
    transition: all 1s !important;
}

.callButtons:hover {
    filter: grayscale(70%) !important;
    transition: all 0.7s !important;
}